/* Enter your custom CSS here */

/* Font family is Verdana, sans-serif; */
/* Font color for the main title and text is #666, for subtitle - #f07c17 */
/* The border around the box under the image should be solid 1px and its color should be #ccc. */

* {
    color: #666;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 2;
}

.container {
    margin-top: 28px;
}

.main-title {
    font-size: 48px;
}

.feature-title {
    color: #f07c17;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

.content-title {
    color: #f07c17;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

.feature-list {
    margin: 24px 0;
    padding: 16px 30px 32px;
    border: 1px solid #ccc;
}

.mug-img {
    margin-top:20px;
}